{% extends "index.html" %}{% load static %} {% load bootstrap4 %}{% block body %}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>


                        <form method="post" action="">
                            {% csrf_token %} {% bootstrap_form form %}
                            <div class="add-items d-flex">
                                {% buttons %}
                                <button class="add btn btn-primary font-weight-bold todo-list-add-btn" type="submit">Add</button> {% endbuttons %}
                            </div>
                        </form>



                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                {% for list in list %}
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> {{list.title}}.<i class="input-helper"></i></label> </div>
                                    <a href="{% url 'update_list' list.id %}">Edit</a>
                                    <a href="{% url 'delete_list' list.id %}"><i class="remove mdi mdi-close-circle-outline"></i></a>
                                </li>
                                {% endfor%}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}